@page "/counter"
@inject ICounterViewModels vm

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @vm.Couters</p>

<button class="btn btn-primary" @onclick="vm.IncrementCommand.Execute">Click me</button>

